body {
  @include box-sizing(border-box);
}

.container-body, .container-gallery {
  width: 100%;
}

.container-nav {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url("../img/penguins.jpg");
  background-size: cover;
  background-position: center;
}

.container-nav-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  height: 200px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  display: flex;
  align-items: center;
  a {
    height: 100%;
    img {
      height: 50%;
      width: auto;
    }
  }
}

.navigation-menu {
  height: 125px;
  display: flex;
  align-items: center;
  a {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-left: 2em;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    &:hover {
      color: #dc7725;
    }
  }
}

.alska-arctic-wild {
  width: 100vw;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
  }
}

.white-bar {
  width: 250px;
  height: 5px;
  background-color: #ffffff;
}

.container-gallery {
  display: flex;
  flex-direction: column;
}

.container-gallery-top, .container-gallery-bottom {
  display: flex;
}

.gallery-image {
  height: 400px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: all .3s ease-in-out .3s;
}

.gallery-image:hover {
  .gallery-image-icon {
    transform: scale(1.25);
  }
}

.large {
  width: 50vw;
}

.rafting {
  background-image: url("../img/rafting.jpg");
  background-position: bottom;
}

.custom {
  background-image: url("../img/northern-lights.jpg");
  background-position: bottom;
}

.small {
  width: 25vw;
}

.base-camp {
  background-image: url("../img/base-camp.jpg");
}

.backpacking {
  background-image: url("../img/backpacking.jpg");
}

.canoe {
  background-image: url("../img/canoe.jpg");
  background-position: right;
}

.photography {
  background-image: url("../img/photography.jpg");
}

.gallery-image-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    opacity: 0.75;
    width: 50px;
    height: 50px;
    margin: auto;
    margin: 0;
    padding: 0;
  }
}
