@media only screen and (max-width: 500px) {

  .navigation, .alska-arctic-wild, .explore, .container-nav2, .grey-space {
    display: none;
  }

  h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

}

@media only screen and (min-width: 501px) {

  .navigation, .alska-arctic-wild, .explore, .container-nav2, .grey-space {
    display: none;
  }

  h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

}

@media only screen and (min-width: 768px) {

  .navigation, .container-nav2, .grey-space {
    display: none;
  }

  .alska-arctic-wild, .explore {
    display: flex;
  }

  .alska-arctic-wild {
    width: 100vw;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
      margin-top: 200px;
      margin-bottom: 200px;
    }
  }

  .explore {
    margin-top: 225px;
    position: relative;
    a {
      font-size: 15px;
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      background-color: #0151c0;
      padding: 15px 15px 13px 15px;
      border: 1px solid #0151c0;
      border-radius: 3px;
    }
    div.triangle {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #0151c0 transparent transparent transparent;
      z-index: 10000;
    }
  }

  .container-gallery-top, .container-gallery-bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .large {
    width: 100vw;
  }

  .small {
    width: 50vw;
  }

  h1 {
    font-size: 133px;
    color: #ffffff;
    font-family: 'Scheherazade', serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: -33px 0 -50px 0;
  }

  h2 {
    font-size: 21px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

  h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

}

@media only screen and (min-width: 1040px) {

  .navigation, .alska-arctic-wild, .explore, .container-nav2, .grey-space {
    display: flex;
  }

  .alska-arctic-wild {
    width: 100vw;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
      margin-top: 0;
      margin-bottom: 200px;
    }
  }

  .container-gallery-top, .container-gallery-bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .large {
    width: 100vw;
  }

  .small {
    width: 50vw;
  }

  h1 {
    font-size: 133px;
    color: #ffffff;
    font-family: 'Scheherazade', serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: -33px 0 -50px 0;
  }

  h2 {
    font-size: 21px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

  h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

}

@media only screen and (min-width: 1100px) {

  .alska-arctic-wild {
    width: 100vw;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
      margin-top: 0;
      margin-bottom: 200px;
    }
  }

  .container-nav2, .grey-space {
    display: block;
  }

  .container-gallery-top, .container-gallery-bottom {
    display: flex;
    flex-wrap: nowrap;
  }

  .large {
    width: 50vw;
  }

  .small {
    width: 25vw;
  }

  h1 {
    font-size: 133px;
    color: #ffffff;
    font-family: 'Scheherazade', serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: -33px 0 -50px 0;
  }

  h2 {
    font-size: 21px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

  h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

}
