body {
  font-family: "Fjalla One", sans-serif;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 133px;
  color: #ffffff;
  font-family: 'Scheherazade', serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: -50px 0;
}

h2 {
  font-size: 21px;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
